<!DOCTYPE html>
<html>
<script type="text/javascript" charset="utf8" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<script type="text/javascript" charset="utf8" src= "{{ url_for('static',filename='js/app.js') }}"></script>
<script>

</script>
<div id="mainHeading">
<h1>Welcome to Movies Rental Application</h1>
<hr>
</div>

<!-- ################################################################ Renting ################################################################ -->
<body>
<div id = "InputDetails" class = "row">
  <div id="Rent" style = "margin-left: 4.5%" class = "block">
    <p style="color: #0074D9; font-weight: bold; font-style: italic;" >Rent a Movie</p>
    <form action="/rent" method="post">
      <input type="text1" name="movieID" placeholder="Enter Movie ID">
      <br>
      <button name="Rent" type="submit" style = "width: 20%";>Rent!</button>
    </form>
    </div>
    <br>
    <div id="get" style = "margin-left: 4.5%" class = "block">
      <p style="color: #0074D9; font-weight: bold; font-style: italic;">Get Movie Details</p>
      <form action="/getdetails" method="post">
        <input type="text1" name="movieID" placeholder="Enter Movie ID">
        <br>
        <button name="get" type="submit" style = "width: 20%">Get Details</button>
      </form>
  </div>
</div>
  <br>
  <div id="Sell" style = "margin-left: 5%" >
    <p style="color: #0074D9; font-weight: bold; font-style: italic;">Sell a Movie</p>
    <form action="/sell" method="post">
      <p>* Enter Movie details</p>
      <input type="text" name="moviename" placeholder="Enter Movie Name">
      <input type="text" name="year" placeholder="Enter Released Year">
      <!-- <input type="text" name="genre" placeholder="Enter Genre">  -->
      <input type="text" name="rating" placeholder="Enter Rating">
      <input type="text" name="price" placeholder="Enter Price">
      <!-- <input type="text" name="actorfname" placeholder="Enter Actor First Name">
      <input type="text" name="actorlname" placeholder="Enter Actor Last Name">
      <input type="text" name="actorgender" placeholder="Enter Actor Gender">
      <input type="text" name="actorrole" placeholder="Enter Actor Role">
      <input type="text" name="Directorfname" placeholder="Enter Director First Name">
      <input type="text" name="Directorlname" placeholder="Enter Director Last Name">  -->
      <br>
      <button name="sell" type="submit" style = "width: 10%">Sell</button>
      <p id = "movie_id"></p>
    </form>
    </div>
    <br>
</div>
<br>

<!-- ################################################################Functionalities################################################################ -->
<div id="headings">
<h2>Application Functionalities</h2>
<hr>
</div>

<div id="SQL_queries">
  <div id="Q1" style="margin-left:0%">
    <p style="color: #0074D9; font-weight: bold; font-style: italic;">1: Search for a Movie</p>
    <hr style="width: 30%; margin-left:0;">
    <table id="myTable" class="display" style="width: 95%;">
      <thead>
      <tr>
        <th >ID</th>
        <th >Movie Name</th>
        <th >Year</th>
        <th >Rating</th>
        <th >Availability</th>
        <th >Price</th>
      </tr>
    </thead>
    <tbody>
        {% for user in moviedetails %}
        <tr>
          <td> {{user[0]}} </td>
          <td> {{user[1]}} </td>
          <td> {{user[2]}} </td>
          <td> {{user[3]}} </td>
          <td> {{user[4]}} </td>
          <td> {{user[5]}} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>  
  <br>
  <p style="color: #0074D9; font-weight: bold; font-style: italic;">2: Recommend Movies</p>
  <hr style="width: 30%; margin-left:0;">
  <div id="Q2" style = "margin-left: 0%">
    <form method="post" action="/recommendations" >

      <div class = "row">
      <div class = "block">
      <label for="actorname">Actor Name</label>
      <br>
      <select id="actor" name="actor">
        <option value="">None</option>
          {% for opt in actordetails %}
              <option>
              {{ opt }}
              </option>
          {% endfor %}
      </select>
      </div>
      <br>
  
      <div class = "block">
      <label for="directorname">Director Name</label>
      <br>
      <select id="director" name="director">
        <option value="">None</option>
          {% for opt in directordetails %}
              <option>
              {{ opt }}
              </option>
          {% endfor %}
      </select>
      </div>
    </div>
      <br>
  
      <div class = "row">
      <div class = "block">
      <label for="year">Year</label>
      <br>
      <select id="year" name="year">
        <option value="">None</option>
          {% for opt in movies_genresdetails %}
              <option>
              {{ opt }}
              </option>
          {% endfor %}
      </select>
    </div>
      <br>
  
      <div class = "block">
        <label for="genre">Genre</label>
        <br>
        <select id="genre" name="genre">
          <option value="">None</option>
            {% for opt in genredetails %}
                <option>
                {{ opt }}
                </option>
            {% endfor %}
        </select>
      </div>
      </div>
        <br>
  
      <input id = 'submit' type="submit" value="Submit" style="margin-left: 0%;">
      <br>
    </form>
    </div>
    <br>

    <div id="Q3" style="margin-left:0%;">
      <p style="color: #0074D9; font-weight: bold; font-style: italic;">3: Get 5 Top Rated Movies of a Director that are available for rent</p>
      <hr style="width: 30%; margin-left:0;">
      <form action="/TopfiveDirectors" method="post">
        <label for="director">Select Director</label>
          <br>
          <select id="director" name="director">
            <option value="">None</option>
              {% for opt in directordetails %}
                  <option>
                  {{ opt }}
                  </option>
              {% endfor %}
          </select>
        <button name="director" type="submit" class="btn btn-success">Get Top Directors</button>
      </form>
      </div>  
    <br>

    <div id="Q4" style="margin-left:0%;">
      <p style="color: #0074D9; font-weight: bold; font-style: italic;">4: Get 5 Top Rated Movies based on Genre that are available for rent</p>
      <hr style="width: 30%; margin-left:0;">
      <form action="/TopfiveMovies" method="post">
        <label for="genres">Select Genre</label>
          <br>
          <select id="genres" name="genres">
            <option value="">None</option>
              {% for opt in genredetails %}
                  <option>
                  {{ opt }}
                  </option>
              {% endfor %}
          </select>
        <button name="genres" type="submit" class="btn btn-success">Get Top Movies</button>
      </form>
      </div>  
    <br>

    <div id="Q5">
      <p style="color: #0074D9; font-weight: bold; font-style: italic;">5: Update Records</p>
      <hr style="width: 30%; margin-left:0;">
      <form action="/update" method="post">
      <!-- <div>
        <p>* Update Actor Last Name</p>
        <input type="text" name="actorID" placeholder="Enter Actor ID">
        <input type="text" name="actorfname" placeholder="Enter Actor First Name">
        <br>
      </div> -->
      <div>
        <p>* Update Director Last Name</p>
      <input type="text" name="directorID" placeholder="Enter Director ID">
      <input type="text" name="directorlname" placeholder="Enter Director Last Name">
      <br>
      </div>

      <p>* Update Movie Rating</p>
      <input type="text" name="movieID" placeholder="Enter Movie ID">
      <input type="text" name="movieRating" placeholder="Enter Movie Rating">
      <br>
    </div>
        <button name="update" type="submit">Update</button>
      </form>
      </div>
      <br>
    
      <div id="Q6" style="margin-left:4.5%;">
        <p style="color: #0074D9; font-weight: bold; font-style: italic;">6: Delete a movie</p>
        <hr style="width: 30%; margin-left:0%;">
        <form action="/delete" method="post">
          <input type="text" name="movieID" placeholder="Enter Movie ID">
          <br>
          <button name="delete" type="submit">Delete</button>
        </form>
        </div>
        <br>

      



</body>
</html>


